caption { font-size: 25px; line-height: 150%; }
body { background-color:  #F0F8FF; 	}
table { background-color: #FAF0E6; width:  100%;	}
td { background-color:#FFFFE0; 		}
th { background: #228B22; 			}
td, th { padding: 12px; border: 1px solid green; }
#err { color: red; font-weight: bold; }